<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/static/css/main/style.css">

</head>
<body>
    
<div class="container">

    <!-- <h1 class="title">masonry image gallery</h1> -->

    <div class="image-container">
        <div class="img-div">
            <img class="image" src="/static/images/img-1.jpg" alt="">
            <i class="heart_btn fas fa-heart heart-icon"></i>
            <i class="menu fa fa-ellipsis-h"></i>
            <!-- dropdwornlist -->
            
            <!-- <img class="heart_btn" src="/static/icons/heart_1.png"> -->
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-2.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-3.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-4.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-5.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-6.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-7.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-8.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/images/img-9.jpg" alt="">
        </div>
        <div class="img-div">
            <img class="image" src="/static/img/The Starry Night desktop wallpapers and stock photos.jpg" alt=""></div>
    </div>

</div>

</body>
</html>