
:root {
  --navbar-bg-color: #ffffffa5;
  /* --navbar-text-color: #your-custom-navbar-text-color;
  --navbar-hover-bg-color: #your-custom-navbar-hover-bg-color;
  --navbar-hover-text-color: #your-custom-navbar-hover-text-color; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: var(--navbar-bg-color);
  backdrop-filter: blur(10px);
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); */
}

.active{
  font-weight: bold;
}