@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 85%;
  margin:20px auto;
}

.container .image-container{
  columns:4 250px;
  gap:15px;
  position: relative;
}

.container .image-container .image{
  margin-bottom: 10px;
  border-radius: 30px;
  width: 100%;
}
.container .image-container:hover .img-div{
    transition: filter 0.3s ease-in-out;
}
.container .image-container:hover .img-div:hover{
  /* filter: grayscale(100%); */
}
.container .image-container .img-div{
  position: relative;
  overflow: hidden;
}
.container .image-container i{
  position: absolute;
  opacity: 0.8;
  font-size: 15px;
  padding: 8px;
  border-radius: 50%;
  display: block;
  color: #000000;
  background-color: aliceblue;
  transition: 0.3s ease-in-out;
}
.container .image-container .menu{
  right:15px;
  top: 10px;

}
.container .image-container .heart_btn{
  left: 20px;
  bottom: 30px;

}

.container .image-container .heart_btn:hover,.container .image-container .menu:hover{
  color: #cbcbcb;
  font-size: 20px;
}


body {
  background-color: #f5f5f5;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #e60023;
  border: none;
}

.btn-primary:hover {
  background-color: #c80020;
}